@font-face {
  font-family: "theSans-regular";
  src: url("../fonts/TheSansOffice-Regular_TRIAL.ttf");
}

@font-face {
  font-family: "theSans-bold";
  src: url("../fonts/TheSansOffice-Bold_TRIAL.ttf");
}

* {
  font-family: "theSans-regular";
}
.bold {
  font-family: "theSans-bold";
}

.lato {
  font-family: "Lato", sans-serif;
}

body,
html {
  overflow-x: hidden !important;
}

/* topbar */
.logo {
  height: 30px;
}

.text-purple {
  color: #7e57c5;
}

.btn-green {
  background-color: #cae6e7 !important;
}

.br-0 {
  border-radius: 0;
}

/* banner */
.banner {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  font-size: 55px;
  font-weight: 700;
}

.py-100 {
  padding: 100px 0 200px 0;
}

.bg-green-50 {
  background-color: rgb(69, 114, 117, 0.5);
}

.social-icon {
  width: 40px;
}

.social {
  position: absolute;
  right: 0;
  top: 100px;
}

/* trusted by */
.fs-20 {
  font-size: 20px;
}

.prev {
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
.next {
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
.trustedby .slide {
  padding: 15px;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.trustedby .slick-track {
  display: flex;
  align-items: center;
}
